PORT=5001
NODE_ENV=production

MYSQLHOST=switchyard.proxy.rlwy.net
MYSQLPORT=28065
MYSQLUSER=root
MYSQLPASSWORD=vYKjuApPnpXpKEXpbxBqCROeUILYRPzB
MYSQLDATABASE=railway

JWT_SECRET=monSuperSecret123greenit

FRONTEND_URL=https://greenit-two.vercel.app

